/* ------------------------------ */
/*    CSS By Arnau March @ PDI    */
/*  Supported Markup for ie >= 7  */
/* ------------------------------ */
/* ----- BUTTONS: ------------------------------------------ */
/*   div.button:        markup for left side                 */
/*   div.button span:   markup for right side                */
/*   div.button button: markup for middle of the button      */
/*   div.button i:      markup for text                      */
/* --------------------------------------------------------- */
/* OPACITY */
/* line 39, buttons.scss */
button::-moz-focus-inner {
  /* FIX: Remove button padding in FF */
  border: 0;
  padding: 0;
}

/* line 44, buttons.scss */
div.button {
  padding-right: 15px;
  cursor: pointer;
  display: inline-block;
  /* ie7 hack */
  zoom: 1;
  *display: inline;
}

/* line 52, buttons.scss */
div.button.last {
  padding-right: 0 !important;
}

/* line 55, buttons.scss */
div.button.disabled {
  cursor: default;
}

/* line 61, buttons.scss */
div.button i {
  font-style: normal;
}

/* ----- BUTTONS: Large ----- */
/* line 68, buttons.scss */
div.button.large {
  background: transparent url("../images/buttons_large.png") 0 -360px no-repeat;
  width: auto !important;
  padding-left: 15px;
  height: 27px;
}

/* line 74, buttons.scss */
.modalTB div.button.large:first-child {
  margin-left: 15px;
}

/* line 77, buttons.scss */
div.button.large.over {
  background-position: 0 -450px;
}

/* line 78, buttons.scss */
div.button.large.pressed {
  background-position: 0 -540px;
}

/* line 79, buttons.scss */
div.button.large.disabled {
  background-position: 0 -630px;
}

/* line 81, buttons.scss */
div.button.large span {
  background: transparent url("../images/buttons_large.png") right -390px no-repeat;
  display: block;
  overflow: hidden;
}

/* line 86, buttons.scss */
div.button.large.over span {
  background-position: right -480px;
}

/* line 87, buttons.scss */
div.button.large.pressed span {
  background-position: right -570px;
}

/* line 88, buttons.scss */
div.button.large.disabled span {
  background-position: right -660px;
}

/* line 91, buttons.scss */
div.button.large a,
div.button.large button {
  background: transparent url("../images/buttons_large.png") 0 -420px repeat-x;
  margin: 0;
  margin-right: 15px;
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  min-width: 90px;
  line-height: 27px;
  height: 27px;
}

/* line 104, buttons.scss */
div.button.large.over a,
div.button.large.over button {
  background-position: 0 -510px;
}

/* line 106, buttons.scss */
div.button.large.pressed a,
div.button.large.pressed button {
  background-position: 0 -600px;
}

/* line 108, buttons.scss */
div.button.large.disabled a,
div.button.large.disabled button {
  background-position: 0 -690px;
}

/* line 110, buttons.scss */
div.button.large i {
  font-size: 14px;
  font-family: Arial !important;
  color: #46565e;
  line-height: 27px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  display: block;
  text-shadow: none;
}

/* line 121, buttons.scss */
div.button.large.over i {
  color: #46565e;
}

/* line 122, buttons.scss */
div.button.large.disabled i {
  color: #46565e;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/* ----- BUTTONS: Large affirmative (green), negative (red) and neutral (blue) ----- */
/* line 135, buttons.scss */
div.button.large.affirmative {
  background-position: 0 0;
}

/* line 136, buttons.scss */
div.button.large.affirmative.over {
  background-position: 0 -90px;
}

/* line 137, buttons.scss */
div.button.large.affirmative.pressed {
  background-position: 0 -180px;
}

/* line 138, buttons.scss */
div.button.large.affirmative.disabled {
  background-position: 0 -270px;
}

/* line 140, buttons.scss */
div.button.large.affirmative span {
  background-position: right -30px;
}

/* line 141, buttons.scss */
div.button.large.affirmative.over span {
  background-position: right -120px;
}

/* line 142, buttons.scss */
div.button.large.affirmative.pressed span {
  background-position: right -210px;
}

/* line 143, buttons.scss */
div.button.large.affirmative.disabled span {
  background-position: right -300px;
}

/* line 146, buttons.scss */
div.button.large.affirmative a,
div.button.large.affirmative button {
  background-position: 0 -60px;
}

/* line 148, buttons.scss */
div.button.large.affirmative.over a,
div.button.large.affirmative.over button {
  background-position: 0 -150px;
}

/* line 150, buttons.scss */
div.button.large.affirmative.pressed a,
div.button.large.affirmative.pressed button {
  background-position: 0 -240px;
}

/* line 152, buttons.scss */
div.button.large.affirmative.disabled a,
div.button.large.affirmative.disabled button {
  background-position: 0 -330px;
}

/* line 154, buttons.scss */
div.button.large.affirmative i {
  color: #fff;
}

/* line 155, buttons.scss */
div.button.large.affirmative.over i {
  color: #fff;
}

/* line 156, buttons.scss */
div.button.large.affirmative.disabled i {
  color: #fff;
}

/* line 135, buttons.scss */
div.button.large.negative {
  background-position: 0 -720px;
}

/* line 136, buttons.scss */
div.button.large.negative.over {
  background-position: 0 -810px;
}

/* line 137, buttons.scss */
div.button.large.negative.pressed {
  background-position: 0 -900px;
}

/* line 138, buttons.scss */
div.button.large.negative.disabled {
  background-position: 0 -990px;
}

/* line 140, buttons.scss */
div.button.large.negative span {
  background-position: right -750px;
}

/* line 141, buttons.scss */
div.button.large.negative.over span {
  background-position: right -840px;
}

/* line 142, buttons.scss */
div.button.large.negative.pressed span {
  background-position: right -930px;
}

/* line 143, buttons.scss */
div.button.large.negative.disabled span {
  background-position: right -1020px;
}

/* line 146, buttons.scss */
div.button.large.negative a,
div.button.large.negative button {
  background-position: 0 -780px;
}

/* line 148, buttons.scss */
div.button.large.negative.over a,
div.button.large.negative.over button {
  background-position: 0 -870px;
}

/* line 150, buttons.scss */
div.button.large.negative.pressed a,
div.button.large.negative.pressed button {
  background-position: 0 -960px;
}

/* line 152, buttons.scss */
div.button.large.negative.disabled a,
div.button.large.negative.disabled button {
  background-position: 0 -1050px;
}

/* line 154, buttons.scss */
div.button.large.negative i {
  color: #fff;
}

/* line 155, buttons.scss */
div.button.large.negative.over i {
  color: #fff;
}

/* line 156, buttons.scss */
div.button.large.negative.disabled i {
  color: #fff;
}

/* line 135, buttons.scss */
div.button.large.neutral {
  background-position: 0 -1080px;
}

/* line 136, buttons.scss */
div.button.large.neutral.over {
  background-position: 0 -1170px;
}

/* line 137, buttons.scss */
div.button.large.neutral.pressed {
  background-position: 0 -1260px;
}

/* line 138, buttons.scss */
div.button.large.neutral.disabled {
  background-position: 0 -1350px;
}

/* line 140, buttons.scss */
div.button.large.neutral span {
  background-position: right -1110px;
}

/* line 141, buttons.scss */
div.button.large.neutral.over span {
  background-position: right -1200px;
}

/* line 142, buttons.scss */
div.button.large.neutral.pressed span {
  background-position: right -1290px;
}

/* line 143, buttons.scss */
div.button.large.neutral.disabled span {
  background-position: right -1380px;
}

/* line 146, buttons.scss */
div.button.large.neutral a,
div.button.large.neutral button {
  background-position: 0 -1140px;
}

/* line 148, buttons.scss */
div.button.large.neutral.over a,
div.button.large.neutral.over button {
  background-position: 0 -1230px;
}

/* line 150, buttons.scss */
div.button.large.neutral.pressed a,
div.button.large.neutral.pressed button {
  background-position: 0 -1320px;
}

/* line 152, buttons.scss */
div.button.large.neutral.disabled a,
div.button.large.neutral.disabled button {
  background-position: 0 -1410px;
}

/* line 154, buttons.scss */
div.button.large.neutral i {
  color: #fff;
}

/* line 155, buttons.scss */
div.button.large.neutral.over i {
  color: #fff;
}

/* line 156, buttons.scss */
div.button.large.neutral.disabled i {
  color: #fff;
}

/*end @each*/
/* ----- BUTTONS: Medium ----- */
/* line 162, buttons.scss */
div.button.medium {
  padding-right: 10px;
  width: auto !important;
  background: transparent url("../images/buttons_medium.png") 0 -300px no-repeat;
  padding-left: 15px;
  height: 23px;
}

/* line 169, buttons.scss */
div.button.medium.over {
  background-position: 0 -375px;
}

/* line 170, buttons.scss */
div.button.medium.pressed {
  background-position: 0 -450px;
}

/* line 171, buttons.scss */
div.button.medium.disabled {
  background-position: 0 -525px;
}

/* line 173, buttons.scss */
div.button.medium span {
  background: transparent url("../images/buttons_medium.png") right -325px no-repeat;
  display: block;
  overflow: hidden;
}

/* line 178, buttons.scss */
div.button.medium.over span {
  background-position: right -400px;
}

/* line 179, buttons.scss */
div.button.medium.pressed span {
  background-position: right -475px;
}

/* line 180, buttons.scss */
div.button.medium.disabled span {
  background-position: right -550px;
}

/* line 182, buttons.scss */
div.button.medium.combo span {
  background-position: right -600px;
}

/* line 183, buttons.scss */
div.button.medium.combo.over span {
  background-position: right -625px;
}

/* line 184, buttons.scss */
div.button.medium.combo.pressed span {
  background-position: right -650px;
}

/* line 185, buttons.scss */
div.button.medium.combo.disabled span {
  background-position: right -675px;
}

/* line 188, buttons.scss */
div.button.medium a,
div.button.medium button {
  background: transparent url("../images/buttons_medium.png") 0 -350px repeat-x;
  margin: 0;
  margin-right: 15px;
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  min-width: 60px;
  line-height: 23px;
  height: 23px;
}

/* line 201, buttons.scss */
div.button.medium.over a,
div.button.medium.over button {
  background-position: 0 -425px;
}

/* line 203, buttons.scss */
div.button.medium.pressed a,
div.button.medium.pressed button {
  background-position: 0 -500px;
}

/* line 205, buttons.scss */
div.button.medium.disabled a,
div.button.medium.disabled button {
  background-position: 0 -575px;
}

/* line 207, buttons.scss */
div.button.medium i {
  height: 23px;
  font-size: 12px;
  font-family: Arial !important;
  color: #46565e;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  display: block;
  text-shadow: none;
}

/* line 218, buttons.scss */
div.button.medium.over i {
  color: #46565e;
}

/* line 219, buttons.scss */
div.button.medium.disabled i {
  color: #46565e;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/* line 221, buttons.scss */
div.button.medium.combo i {
  padding-right: 10px;
}

/* ----- BUTTONS: Medium  affirmative (green), negative (red) and neutral (blue) ----- */
/* line 234, buttons.scss */
div.button.medium.affirmative {
  background-position: 0 0;
}

/* line 235, buttons.scss */
div.button.medium.affirmative.over {
  background-position: 0 -75px;
}

/* line 236, buttons.scss */
div.button.medium.affirmative.pressed {
  background-position: 0 -150px;
}

/* line 237, buttons.scss */
div.button.medium.affirmative.disabled {
  background-position: 0 -225px;
}

/* line 239, buttons.scss */
div.button.medium.affirmative span {
  background-position: right -25px;
}

/* line 240, buttons.scss */
div.button.medium.affirmative.over span {
  background-position: right -100px;
}

/* line 241, buttons.scss */
div.button.medium.affirmative.pressed span {
  background-position: right -175px;
}

/* line 242, buttons.scss */
div.button.medium.affirmative.disabled span {
  background-position: right -250px;
}

/* line 245, buttons.scss */
div.button.medium.affirmative a,
div.button.medium.affirmative button {
  background-position: 0 -50px;
}

/* line 247, buttons.scss */
div.button.medium.affirmative.over a,
div.button.medium.affirmative.over button {
  background-position: 0 -125px;
}

/* line 249, buttons.scss */
div.button.medium.affirmative.pressed a,
div.button.medium.affirmative.pressed button {
  background-position: 0 -200px;
}

/* line 251, buttons.scss */
div.button.medium.affirmative.disabled a,
div.button.medium.affirmative.disabled button {
  background-position: 0 -275px;
}

/* line 253, buttons.scss */
div.button.medium.affirmative i {
  color: #fff;
}

/* line 254, buttons.scss */
div.button.medium.affirmative.over i {
  color: #fff;
}

/* line 255, buttons.scss */
div.button.medium.affirmative.disabled i {
  color: #fff;
}

/* line 234, buttons.scss */
div.button.medium.negative {
  background-position: 0 -700px;
}

/* line 235, buttons.scss */
div.button.medium.negative.over {
  background-position: 0 -775px;
}

/* line 236, buttons.scss */
div.button.medium.negative.pressed {
  background-position: 0 -850px;
}

/* line 237, buttons.scss */
div.button.medium.negative.disabled {
  background-position: 0 -925px;
}

/* line 239, buttons.scss */
div.button.medium.negative span {
  background-position: right -725px;
}

/* line 240, buttons.scss */
div.button.medium.negative.over span {
  background-position: right -800px;
}

/* line 241, buttons.scss */
div.button.medium.negative.pressed span {
  background-position: right -875px;
}

/* line 242, buttons.scss */
div.button.medium.negative.disabled span {
  background-position: right -950px;
}

/* line 245, buttons.scss */
div.button.medium.negative a,
div.button.medium.negative button {
  background-position: 0 -750px;
}

/* line 247, buttons.scss */
div.button.medium.negative.over a,
div.button.medium.negative.over button {
  background-position: 0 -825px;
}

/* line 249, buttons.scss */
div.button.medium.negative.pressed a,
div.button.medium.negative.pressed button {
  background-position: 0 -900px;
}

/* line 251, buttons.scss */
div.button.medium.negative.disabled a,
div.button.medium.negative.disabled button {
  background-position: 0 -975px;
}

/* line 253, buttons.scss */
div.button.medium.negative i {
  color: #fff;
}

/* line 254, buttons.scss */
div.button.medium.negative.over i {
  color: #fff;
}

/* line 255, buttons.scss */
div.button.medium.negative.disabled i {
  color: #fff;
}

/* line 234, buttons.scss */
div.button.medium.neutral {
  background-position: 0 -1000px;
}

/* line 235, buttons.scss */
div.button.medium.neutral.over {
  background-position: 0 -1075px;
}

/* line 236, buttons.scss */
div.button.medium.neutral.pressed {
  background-position: 0 -1150px;
}

/* line 237, buttons.scss */
div.button.medium.neutral.disabled {
  background-position: 0 -1225px;
}

/* line 239, buttons.scss */
div.button.medium.neutral span {
  background-position: right -1025px;
}

/* line 240, buttons.scss */
div.button.medium.neutral.over span {
  background-position: right -1100px;
}

/* line 241, buttons.scss */
div.button.medium.neutral.pressed span {
  background-position: right -1175px;
}

/* line 242, buttons.scss */
div.button.medium.neutral.disabled span {
  background-position: right -1250px;
}

/* line 245, buttons.scss */
div.button.medium.neutral a,
div.button.medium.neutral button {
  background-position: 0 -1050px;
}

/* line 247, buttons.scss */
div.button.medium.neutral.over a,
div.button.medium.neutral.over button {
  background-position: 0 -1125px;
}

/* line 249, buttons.scss */
div.button.medium.neutral.pressed a,
div.button.medium.neutral.pressed button {
  background-position: 0 -1200px;
}

/* line 251, buttons.scss */
div.button.medium.neutral.disabled a,
div.button.medium.neutral.disabled button {
  background-position: 0 -1275px;
}

/* line 253, buttons.scss */
div.button.medium.neutral i {
  color: #fff;
}

/* line 254, buttons.scss */
div.button.medium.neutral.over i {
  color: #fff;
}

/* line 255, buttons.scss */
div.button.medium.neutral.disabled i {
  color: #fff;
}

/*end @each*/
/* ----- BUTTONS: Small ----- */
/* line 261, buttons.scss */
div.button.small {
  background: transparent url("../images/buttons_small.png") 0 0px no-repeat;
  padding-right: 10px;
  width: auto !important;
  padding-left: 15px;
  height: 23px;
}

/* line 268, buttons.scss */
div.button.small.over {
  background-position: 0 -75px;
}

/* line 269, buttons.scss */
div.button.small.pressed {
  background-position: 0 -150px;
}

/* line 270, buttons.scss */
div.button.small.disabled {
  background-position: 0 -225px;
}

/* line 272, buttons.scss */
div.button.small span {
  background: transparent url("../images/buttons_small.png") right -25px no-repeat;
  display: block;
  overflow: hidden;
}

/* line 277, buttons.scss */
div.button.small.over span {
  background-position: right -100px;
}

/* line 278, buttons.scss */
div.button.small.pressed span {
  background-position: right -175px;
}

/* line 279, buttons.scss */
div.button.small.disabled span {
  background-position: right -250px;
}

/* line 282, buttons.scss */
div.button.small a,
div.button.small button {
  background: transparent url("../images/buttons_small.png") 0 -50px repeat-x;
  margin: 0;
  margin-right: 15px;
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 23px;
  height: 23px;
}

/* line 294, buttons.scss */
div.button.small.over a,
div.button.small.over button {
  background-position: 0 -125px;
}

/* line 296, buttons.scss */
div.button.small.pressed a,
div.button.small.pressed button {
  background-position: 0 -200px;
}

/* line 298, buttons.scss */
div.button.small.disabled a,
div.button.small.disabled button {
  background-position: 0 -275px;
}

/* line 300, buttons.scss */
div.button.small i {
  font-family: Arial !important;
  text-align: center;
  display: block;
  font-size: 11px;
  color: #46565e;
  text-align: center;
  font-weight: normal;
  padding-top: 1px;
  .padding-top: 0px;
  /*ie7 fix*/
  text-shadow: none;
}

/* line 312, buttons.scss */
div.button.small.over i {
  color: #46565e;
}

/* line 313, buttons.scss */
div.button.small.disabled i {
  color: #46565e;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/* ----- BUTTONS: Small dark and blue ----- */
/* line 329, buttons.scss */
div.button.small.dark {
  background-position: 0 -300px;
}

/* line 330, buttons.scss */
div.button.small.dark.over {
  background-position: 0 -375px;
}

/* line 331, buttons.scss */
div.button.small.dark.pressed {
  background-position: 0 -450px;
}

/* line 332, buttons.scss */
div.button.small.dark.disabled {
  background-position: 0 -525px;
}

/* line 334, buttons.scss */
div.button.small.dark span {
  background-position: right -325px;
}

/* line 335, buttons.scss */
div.button.small.dark.over span {
  background-position: right -400px;
}

/* line 336, buttons.scss */
div.button.small.dark.pressed span {
  background-position: right -475px;
}

/* line 337, buttons.scss */
div.button.small.dark.disabled span {
  background-position: right -550px;
}

/* line 340, buttons.scss */
div.button.small.dark a,
div.button.small.dark button {
  background-position: 0 -350px;
}

/* line 342, buttons.scss */
div.button.small.dark.over a,
div.button.small.dark.over button {
  background-position: 0 -425px;
}

/* line 344, buttons.scss */
div.button.small.dark.pressed a,
div.button.small.dark.pressed button {
  background-position: 0 -500px;
}

/* line 346, buttons.scss */
div.button.small.dark.disabled a,
div.button.small.dark.disabled button {
  background-position: 0 -575px;
}

/* line 348, buttons.scss */
div.button.small.dark i {
  color: white !important;
}

/* line 349, buttons.scss */
div.button.small.dark.over i {
  color: white !important;
}

/* line 350, buttons.scss */
div.button.small.dark.disabled i {
  color: white !important;
}

/* line 329, buttons.scss */
div.button.small.neutral {
  background-position: 0 -600px;
}

/* line 330, buttons.scss */
div.button.small.neutral.over {
  background-position: 0 -675px;
}

/* line 331, buttons.scss */
div.button.small.neutral.pressed {
  background-position: 0 -750px;
}

/* line 332, buttons.scss */
div.button.small.neutral.disabled {
  background-position: 0 -825px;
}

/* line 334, buttons.scss */
div.button.small.neutral span {
  background-position: right -625px;
}

/* line 335, buttons.scss */
div.button.small.neutral.over span {
  background-position: right -700px;
}

/* line 336, buttons.scss */
div.button.small.neutral.pressed span {
  background-position: right -775px;
}

/* line 337, buttons.scss */
div.button.small.neutral.disabled span {
  background-position: right -850px;
}

/* line 340, buttons.scss */
div.button.small.neutral a,
div.button.small.neutral button {
  background-position: 0 -650px;
}

/* line 342, buttons.scss */
div.button.small.neutral.over a,
div.button.small.neutral.over button {
  background-position: 0 -725px;
}

/* line 344, buttons.scss */
div.button.small.neutral.pressed a,
div.button.small.neutral.pressed button {
  background-position: 0 -800px;
}

/* line 346, buttons.scss */
div.button.small.neutral.disabled a,
div.button.small.neutral.disabled button {
  background-position: 0 -875px;
}

/* line 348, buttons.scss */
div.button.small.neutral i {
  color: #46565e !important;
}

/* line 349, buttons.scss */
div.button.small.neutral.over i {
  color: #46565e !important;
}

/* line 350, buttons.scss */
div.button.small.neutral.disabled i {
  color: #46565e !important;
}

/* line 329, buttons.scss */
div.button.small.light {
  background-position: 0 -900px;
}

/* line 330, buttons.scss */
div.button.small.light.over {
  background-position: 0 -975px;
}

/* line 331, buttons.scss */
div.button.small.light.pressed {
  background-position: 0 -1050px;
}

/* line 332, buttons.scss */
div.button.small.light.disabled {
  background-position: 0 -1125px;
}

/* line 334, buttons.scss */
div.button.small.light span {
  background-position: right -925px;
}

/* line 335, buttons.scss */
div.button.small.light.over span {
  background-position: right -1000px;
}

/* line 336, buttons.scss */
div.button.small.light.pressed span {
  background-position: right -1075px;
}

/* line 337, buttons.scss */
div.button.small.light.disabled span {
  background-position: right -1150px;
}

/* line 340, buttons.scss */
div.button.small.light a,
div.button.small.light button {
  background-position: 0 -950px;
}

/* line 342, buttons.scss */
div.button.small.light.over a,
div.button.small.light.over button {
  background-position: 0 -1025px;
}

/* line 344, buttons.scss */
div.button.small.light.pressed a,
div.button.small.light.pressed button {
  background-position: 0 -1100px;
}

/* line 346, buttons.scss */
div.button.small.light.disabled a,
div.button.small.light.disabled button {
  background-position: 0 -1175px;
}

/* line 348, buttons.scss */
div.button.small.light i {
  color: #46565e !important;
}

/* line 349, buttons.scss */
div.button.small.light.over i {
  color: #46565e !important;
}

/* line 350, buttons.scss */
div.button.small.light.disabled i {
  color: #46565e !important;
}

/*end @each*/
